body {
    background-color: yellow;
}

#header__logo {
    font-family: 'Major Mono Display', monospace;
    display: flex;
}

nav {
    overflow: hidden;
    float: right;
}

nav li {
    float: left;
    padding-left: 5px;
    list-style: none;
}

main {
    text-align: center;
}

#product {
    text-align: left;
}

table, tr, td {
    border: 5px solid black;
    border-collapse: collapse;
}