@import url('https://fonts.googleapis.com/css?family=Open+Sans:400i" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet');

:root {
    font-family: 'Comfortaa', cursive;
    --main-color: black;
    --accent-color: green;
    --second-color: orange;
}

body {
    max-width: 980px;
    margin: auto;
    background-image: url(../img/fonsota.png);
}

.clock {
    text-align: right;
    font-weight: bold;
    color: var(--second-color);
    padding: 0;
}

/*.currency-continer {*/

/*    font-weight: bold;*/

/*    color: var(--accent-color);*/

/*    margin-right: 10px;*/

/*}*/

/*.update-currency {*/

/*    font-weight: bold;*/

/*    color: var(--accent-color);*/

/*    text-align: right;*/

/*}*/

header .logo {
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    text-align: center;
    margin: 24px auto;
    font-weight: bold;
    color: var(--second-color);
}

header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    padding: 0;
}

header .menu li {
    list-style-type: none;
}

header .menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--accent-color);
    /*font-weight: bold;*/
}

header .menu li a:hover {
    text-decoration: underline;
    color: orange;
}

@media (min-width: 760px) {
    header nav {
        display: flex;
    }

    header .logo {
        margin: 24px 10px;
    }

    header nav .menu {
        justify-content: space-around;
        align-items: center;
        flex: 1;
    }
}

/*main .slider-container {*/

/*    background-image: url(../img/girleat.png);*/

/*    background-position: center;*/

/*    background-size: cover;*/

/*    min-height: 400px;*/

/*}*/

main h1 {
    text-align: center;
    color: var(--accent-color);
}

.aboutus-article {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.aboutus-article img {
    display: block;
    margin: auto;
}

.aboutus-article p {
    margin-left: 10px;
    font-weight: bold;
}

footer h2 {
    text-align: center;
    color: var(--accent-color);
}

footer p {
    text-align: center;
}

footer .contact-us {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 35px;
    padding: 0;
}

.contact li {
    list-style-type: none;
}

footer .map {
    margin: 25px 0 0 40px;
}

footer .social {
    display: flex;
    margin: 10px 10px 0 50px;
}

footer .social button {
    border: 0;
    background-color: inherit;
}

@media (min-width: 760px) {
    footer .contact-us {
        display: flex;
    }
}

.copyright {
    color: var(--second-color);
    padding: 0;
}

.products {
    text-align: center;
}

table,
tr,
td {
    border: 5px solid orange;
    border-collapse: collapse;
}
